.App {
  text-align: center;
}

.feeling {
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.name {
  min-width: 100px;
  border-right: 1px solid green;
}

.emoji {
  min-width: 100px;
}

.feelings-form {
  display: flex;
  flex-direction: column;
}
